/build*/
/thirdparty/*/build-scons/
/.scons-cache/
/__pycache__/
/tools/__pycache__/
/.sconsign.dblite
/obj/
/dist/
/addons/xiph_audio/bin/*
!/addons/xiph_audio/bin/.gitkeep
/demo/addons/
/demo/fixture.flac
/demo/test_files/
/addons/xiph_audio/*.import
/addons/xiph_audio/**/*.import
/.godot/
/demo/.godot/
*.uid
